/* :root {
    --primaryColor: green;
    --secondaryColor: lightgreen;
    --textColor: #222;
}

body {
    background: var(--secondaryColor);
} */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    cursor: pointer;
    background: red;
    color: #fff;
}


